@import '../styling-vars.scss';

.contact-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    font-size: 1rem;

    &__label {
        font-weight: 500;
        margin: 20px 0 5px 0;
    }

    &__input {
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
        line-height: 40px;
    }


    &__textarea {
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
        min-height: 200px;
        resize: none;
        outline: none;
    }

    &__submit {
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        margin-top: 20px;
        border-radius: 4px;
        height: 50px;
        color: black;
        background-color: $matcha-cakecone;

        &:hover {
            background-color: $matcha-biscuit;
        }

        &:focus {
            box-shadow: 0 0 0 2px black;
        }

        &:active {
            color: $matcha-honeydew;
            background-color: $matcha-tea-dark;
        }
    }
}