@import '../styling-vars.scss';

.homepage {

    height: 100vh;
    color: $matcha-tea-dark;

    &__title {
        width: 100%;
        position: absolute;
        top: 35vh;
    }
    
    &__header {
        text-align: center;
        font-size: 2.5rem;
    }

    &__sub-header {
        text-align: center;
        font-size: 1.5rem;
    }

}