.homepage {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;

    &__top-area {
        background-color: rgba(0, 0, 0, 0.7);
        height: 10%;
        max-height: 100px;
        border-bottom-left-radius: 25% 15%;
        border-bottom-right-radius: 25% 15%;
    }

    &__center-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 75%;
    }

    &__header-container {
        font-family: serif;
        font-weight: bolder;
        font-size: 5rem;
        color: rgba(36, 3, 3, 0.9);
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: rgba(185, 185, 185, 0.747);
        letter-spacing: -2px;
        -webkit-transform:scale(1.18,1.1); /* Safari and Chrome */
        -moz-transform:scale(1.18,1.1); /* Firefox */
        -ms-transform:scale(1.18,1.1); /* IE 9 */
        -o-transform:scale(1.18,1.1); /* Opera */
        transform:scale(1.18,1.1); /* W3C */
    }

    &__special-char {
        font-size: 5.5rem;
    } 

    &__sub-header {
        font-family: sans-serif;
        font-size: 3.5rem;
        font-weight: bolder;
        text-shadow: 0 0 5px #cccccc;
    }

    &__start-container {
        position: relative;
    }

    &__bottom-area {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.7);
        height: 20%;
        border-top-left-radius: 40% 22%;
        border-top-right-radius: 40% 22%;
        text-align: center;
        padding-top: 30px;
    }

}