@import '../styling-vars.scss';

.homepage {

    height: 100vh;
    color: $matcha-tea-dark;
    text-align: center;

    &__container {
        width: 100%;
        position: absolute;
        top: 35vh;
    }
    
    &__header {
        font-size: 3.2rem;
        font-weight: 500;
    }

    &__sub-header {
        margin-top: 30px;
        font-size: 1.3rem;
        padding: 0 15px;
        font-weight: 400;
    }

    &__tagline {
        margin-top: 30px;
        font-size: 1.2rem;
        font-weight: 300;
    }

}