@import '../styling-vars.scss';

.main-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $scheme-purple-dark;
    color: white;

    &__header {
        margin-top: 5%;
        margin-left: 15%;
        font-size: 3rem;
        font-weight: bolder;
        font-style: italic;
        color: $scheme-grey-dark-a7;
    }

    &__menu-content {
        z-index: -1;
        position: relative;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        border-color: $scheme-purple-dark-a4;
        border-style: solid;
        border-top-width: 1rem;
        border-left-width: 1.2rem;
        border-right-width: 1.2rem;
        border-bottom-width: 3rem;
        border-radius: 1.25rem 2.5rem 2.5rem .625rem;
        box-shadow: 0 0 5px $scheme-purple-light-a4;
    }

    &__links-container {
        border-radius: .4rem 1.2rem .5rem .3125rem;
        box-shadow: 0 0 5px $scheme-purple-light-a4;
    }

    &__links {
        padding-top: 5.5rem;
        padding-bottom: 4rem;
        text-align: center
    }

    &__link {
        display: block;
        text-align: center;
        background-color: $scheme-black-a4;
        width: 50%;
        height: 4rem;
        text-decoration: none;
        font-size: 3rem;
        font-weight: bold;
        font-family: sans-serif;
        color: $scheme-yellow;
        border-style: solid;
        border-color: $scheme-yellow;
        border-radius:  3rem .625rem 3rem .625rem;
        box-shadow: 0 0 15px $scheme-yellow-light-a7; 

        &:hover {
            color: $scheme-black;
            background-color: $scheme-yellow;
        }

        &:focus {
            outline: none;
            color: $scheme-black;
            background-color: $scheme-yellow;
        }

        &--opt1 {
            margin-left: 8rem;
        }

        &--opt2 {
            margin-left: 3rem;
        }

        &--opt3 {
            margin-left: -2rem;
        }

        &--opt4 {
            margin-left: 1rem;
        }

    }

    &__prev-visual {
        position: absolute;
        bottom: 2rem;
        right: 1rem;
        height: 300px;
        width: 300px;
        opacity: 40%;
        border-radius: 1rem;
        transform: skewY(4deg);
        border-color: $scheme-green-a4;
        border-style: solid;
        border-width: .2rem;
        border-radius: 1.25rem;
        box-shadow: 0 0 5px $scheme-green-light-a4;
        background-color: $scheme-green-a4;
    }

    &__prev-text {
        text-align: center;
        width: 40%;
        height: 3rem;
        font-weight: bold;
        margin-top: -3.2rem;
        margin-left: auto;
        margin-right: auto;
        font-size: 2.5rem;
        font-family: sans-serif;
        color: $scheme-white;
        background-color: $scheme-black-a4;
        border-style: solid;
        border-color: $scheme-white;
        box-shadow: 0 0 10px $scheme-grey-light-a4;
        border-radius: .625rem;
    }


}