@import '../styling-vars.scss';

.navbar {
    position: fixed;
    z-index: 2;
    right: 0;
    
    &__list {
        margin: 0;
        padding: 0;
        overflow: hidden;
        list-style-type: none;
    }

    &__list-item {
        float: left;
    }

    &__list-item a{
        display: block;
        padding: 8px;
    }

}
