@import '../styling-vars.scss';

.navbar {
    position: fixed;
    z-index: 2;
    right: 0;

    @media (max-width: $mobile) {
        font-size: .8rem;
    }
    
    &__list {
        margin: 0;
        padding: 0;
        overflow: hidden;
        list-style-type: none;
    }

    &__list-item {
        float: left;
        display: block;
    }

    &__link {
        display: block;
        padding: 8px;
        &:hover,&:focus,&:active {
            color: black;
            background-color: $matcha-biscuit;
            cursor: pointer;
        }
    }

    &__link--active {
        color: $matcha-honeydew;
        background-color: $matcha-tea-dark;
        cursor: pointer;
    }

}
