@import '../styling-vars.scss';

.portfolio {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &__header {
        font-size: 3rem;
        font-weight: 500;
        @media (max-width: $mobile) {
            font-size: 2.5rem;
        }
    }


    &__prev-title {
        margin-top: 25px;
        font-size: 1.5rem;
    }

    &__prev-desc {
        margin-top: 25px;
        font-size: 0.9rem;
    }

    &__prev-stack {
        margin-top: 10px;
        font-size: 0.9rem;
    }

    &__prev-github-container {
        margin-top: 10px;
    }

    &__player-container {
        height: 500px;
        width: 95%;
        max-width: 870px;
        margin: 15px auto 0 auto;

        @media (max-width: $tablet) {
            height: 400px;
        }

        @media (max-width: $mobile) {
            height: 200px;
        }
    }

    &__toggle-container-wrapper {
        display: flex;
        justify-content: space-between;
        max-width: 700px;
        margin: auto;
        padding: 10px;
    }

    &__toggle {
        font-size: 0.8rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        margin-top: 20px;
        border-radius: 4px;
        height: 40px;
        color: black;
        background-color: $matcha-cakecone;
        width: 70px;

        &:hover {
            color: $matcha-honeydew;
            background-color: $matcha-tea-dark;
        }
    }
}