@import '../styling-vars.scss';

.portfolio {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &__header {
        font-size: 2.5rem;
        font-weight: 500;
    }

    &__prev-title {
        margin-top: 25px;
        font-size: 1.5rem;
    }

    &__prev-desc {
        margin-top: 25px;
        font-size: 0.9rem;
    }

    &__prev-stack {
        margin-top: 10px;
        font-size: 0.9rem;
    }

    &__prev-github-container {
        margin-top: 10px;
    }

    &__player-container {
        height: 500px;
        width: 95%;
        max-width: 870px;
        margin: 15px auto 0 auto;

        @media (max-width: $tablet) {
            height: 400px;
        }

        @media (max-width: $mobile) {
            height: 200px;
        }
    }

    &__toggle-container {
        margin: auto 0;
        position: absolute;
        top: 20%;

        &--prev {
            left: 400px;
            @media (max-width: $tablet) {
                left: 150px;
                top: 25%;
            }
    
            @media (max-width: $mobile) {
                left: 10px;
                top: 30%
            }
        }

        &--next {
            right: 400px;
            @media (max-width: $tablet) {
                right: 150px;
                top: 25%;
            }
    
            @media (max-width: $mobile) {
                right: 10px;
                top: 30%
            }
        }

    }

    &__toggle {
        font-size: 0.8rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        margin-top: 20px;
        border-radius: 4px;
        height: 40px;
        color: black;
        background-color: $matcha-cakecone;

        &:hover {
            color: $matcha-honeydew;
            background-color: $matcha-tea-dark;
        }

    }

}