@import '../styling-vars.scss';

.portfolio {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $scheme-black;
    overflow-y: auto;


    &__header-container {
        background-color: $scheme-grey-a4;
        position: relative;
    }

    &__header {
        margin-top: 3%;
        margin-left: 10%;
        font-size: 3rem;
        font-weight: bolder;
        font-style: italic;
        display: inline-block;

        @media (max-width: $tablet) {
            font-size: 2rem;
            margin-left: 10px;
            margin-bottom: 10px;
        }

        @media (max-width: $mobile) {
            font-size: 2rem;
            margin-left: 10px;
            margin-bottom: 10px;
        }
    }

    &__back-button {
        position: absolute;
        right: 3rem;
        bottom: .5rem;
        font-size: 1.5rem;
        text-align: center;
        display: block;
        width: 10rem;
        height: 1.5rem;
        font-weight: bold;
        text-decoration: none;
        padding: .3rem 0;
        font-size: 1.2rem;
        font-family: sans-serif;
        color: $scheme-white;
        background-color: $scheme-purple-dark-a7;
        border-style: solid;
        border-color: $scheme-white;
        box-shadow: 0 0 5px $scheme-grey-light;
        border-radius: .625rem;
        
        &:hover {
            color: $scheme-purple-dark;
            background-color: $scheme-grey-light-a7;
        }

        &:focus {
            color: $scheme-purple-dark;
            background-color: $scheme-grey-light-a7;
            outline: none;
        }

        @media (max-width: $tablet) {
            font-size: .9rem;
            height: 1rem;
            width: 5rem;
            right: .5rem;
            bottom: .7rem;
            box-shadow: 0 0 5px $scheme-grey-light;
        }

        @media (max-width: $mobile) {
            font-size: .9rem;
            height: 1rem;
            width: 5rem;
            right: .5rem;
            bottom: .7rem;
            box-shadow: 0 0 5px $scheme-grey-light;
        }
    }

    &__projects-container {
        padding: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        @media (max-width: $tablet) {
            display: none;
        }

        @media (max-width: $mobile) {
            display: none;
        }
    }

    &__project {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 1rem;
        border-radius: 1rem;
        height: 10rem;
        width: 10rem;
        border-style: solid;
        border-color: $scheme-white-a7;
        box-shadow: 0 0 10px $scheme-white-a4;
    }

    &__project-title {
        position: absolute;
        display: block;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        color: $scheme-white;
        background-color: $scheme-black;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1rem;
        border-radius: 0 0 1rem 1rem;
        &:hover {
            font-size: 1.4rem;
        }

        &:focus {
            background-color: $scheme-blue;
            outline: none;
        }
    }

    &__prev-container {
        display: flex;
        justify-content: center;
        height: 100%;
        max-height: 500px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 2rem;

        @media (max-width: $mobile) {
            max-height: 40%;
            padding-bottom: 0;
        }
    }

    &__prev-container-content {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media (max-width: $tablet) {
            width: 80%;
        }

        @media (max-width: $mobile) {
            width: 80%;
        }
    }

    &__prev-details {
        color: $scheme-white;
        font-size: 1.5rem;
        padding-right: 2rem;
        width: 30%;

        @media (max-width: $tablet) {
            width: 100%;
            font-size: 1rem;
            padding: 0 3.5rem;
            margin-top: 2rem;
        }


        @media (max-width: $mobile) {
            width: 100%;
            font-size: 1rem;
            padding: 0 3.5rem;
            margin-top: 2rem;
        }
    }

    &__prev-github-container {
        text-align: center;
        margin-top: 2rem;
        @media (max-width: $mobile) {
            font-size: .9rem;
            margin-top: .5rem;
        }
    }

    &__prev-github {
        text-align: center;
        line-height: 28px;
        color: $scheme-grey;
    }

    &__prev-title {
        text-align: center;
        font-weight: bolder;
        font-size: 2rem;
    }

    &__prev-desc {
        margin-top: 1rem;

        @media (max-width: $mobile) {
            font-size: .9rem;
            margin-top: .5rem;
        }
    }

    &__prev-stack {
        margin-top: 1rem;

        @media (max-width: $mobile) {
            font-size: .9rem;
            margin-top: .5rem;
        }
    }

    &__player-container {
        height: 100%;
        max-height: 400px;
        width: 65%;

        @media (max-width: $tablet) {
            height: 40%;
            width: 100%;
            max-width: 400px;
            margin-top: 3rem;
        }

        @media (max-width: $mobile) {
            position: fixed;
            height: 40%;
            width: auto;
            bottom: 80px;
            right: 10px;
            left: 10px;
            padding: 0 2rem;
        }

        @media (max-height: 650px) {
            bottom: 30px;
        }
    }

    &__mobile-toggle-container {
        margin: auto 0;
        position: absolute;
        top: 50%;

        &--prev {
            left: 1.5rem;
        }

        &--next {
            right: 1.5rem;
        }

        @media (max-width: $tablet) {
            top: 25%;
            &--prev {
                left: .5rem;
            }
    
            &--next {
                right: .5rem;
            }
        }

        @media (max-width: $mobile) {
            top: 25%;
            &--prev {
                left: .5rem;
            }
    
            &--next {
                right: .5rem;
            }
        }

    }

    &__mobile-toggle {
        font-size: 2rem;
        border-radius: 50%;
        border-style: none;
        text-align: center;
        text-align: -moz-center;
        text-align: -webkit-center;
        height: 4rem;
        width: 4rem;
        background-color: $scheme-grey-light;
        box-shadow: 0 0 7px $scheme-grey-dark;
        padding: 0;
        
        &:hover {
            background-color: $scheme-grey;
            color: $scheme-white;
        }
        
        &:focus {
            outline: none;
            background-color: $scheme-grey-dark;
        }

        @media (max-width: $tablet) {
            height: 2.5rem;
            width: 2.5rem;
            font-size: 1.5rem;
        }

        @media (max-width: $mobile) {
            height: 2.5rem;
            width: 2.5rem;
            font-size: 1.5rem;
        }
    }

}