@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import './styling-vars.scss';

.app {
    font-family: 'Montserrat', sans-serif;
    color: $matcha-tea-dark;
    position: relative;
}
