$bars-background: rgba(0, 0, 0, 0.7);
$header-outline: rgba(185, 185, 185, 0.747);
$header-text: rgba(36, 3, 3, 0.9);
$start-icon-text: #f8c617;
$default-background: #2a2045;
$main-menu-border: rgba(130, 112, 196, 0.4);
$main-menu-border-outline: rgb(182, 171, 219);
$link-background-color: rgba(16, 15, 29, 0.8);
$link-border-color: #f8db70dc;